/* --------------------------------------------
	
	main.css : 	main style file
	Project :  	Impose
	Author :  	Pixelwars 
	
	---
	
	CONTEXT:
	
	1. BASE - @base 
		1.1 ELEMENTS
		1.2 FONTS
		1.3 TYPOGRAPHY
	2. FORMS - @forms
	3. COMMON - @common
	4. LAYOUT - @layout
	5. MODULES - @modules
	6. THEME - @theme
	
   -------------------------------------------- */
   
   
   
/*  --------------------------------------------

	1. BASE (@base) - base html elements
	
    -------------------------------------------- */

/* ----- 1.1 ELEMENTS ----- */   
html {
    font-size: 100%; box-sizing: border-box;
    }
*,
*:before, 
*:after {
    box-sizing: inherit; -webkit-font-smoothing: antialiased;
    }
body {
	font-size: 13px; line-height: 1.75; -webkit-text-size-adjust: none; overflow-x: hidden;
	}
a {
 	color: #096; text-decoration: none; outline: none;
	}
a:hover,
a:focus {
	text-decoration: none; outline: none;
	}
a:hover {
 	color: #5BCF80;
	}
iframe {
 	border: none; max-width: 100%;
	}
ul {
 	list-style: square;
	}
img {
 	max-width: 100%; height: auto;
	}

.center {margin: auto;width: 50%;padding: 10px;}

/* ----- 1.2 FONTS ----- */ 
/* BODY */
body,
input,
textarea,
select,
button,
.event h5,
.event h6 {
 	font-family: 'Noto Sans', sans-serif; 
	}
/* HEADINGS */
h1, h2, h3, h4, h5, h6,
#search-field,
.nav-single,
.comment-meta .fn, 
.yarpp-thumbnail-title,
.widget_categories ul li,
.widget_recent_entries ul li,
.tptn_title,
.blog-simple .day,
.intro .wp-caption-text {
	font-family: 'Poppins', sans-serif;
	}
/* SITE TITLE */
.site-title { 
	font-family: 'Poppins', sans-serif;
	}
/* NAV MENU */
.nav-menu,
.widget-title,
.nav-single h4,
.about-author h3,
.share-links h3,
.related-posts h3,
.comments-area h3,
.entry-title i { 
	font-family: 'Lato', sans-serif;
	}
	
/* FONTELLO ICONS */
.icon,
.icon:before,
.alert:before,
.toggle h4:before,
.search-toggle:before, 
.social-toggle:before,
.post-format:before {
    font-family:fontello; font-style:normal; font-weight:400; speak:none; display:inline-block; text-decoration:inherit; text-align:center; font-variant:normal; text-transform:none;
    }

/* ----- 1.3 TYPOGRAPHY ----- */
/* headings and paragraphs  */
h1,
h2,
h3,
h4,
h5,
h6 { 
	line-height: 1.4; font-weight: 600; margin: 1.2em 0 0.6em 0;
    }
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child { 
    margin-top: 0; 
    }
h1 {
 	font-size: 1.6em; margin: 0.8em 0 0.8em 0; line-height: 1.2;
	}
h2 {
 	font-size: 1.1em; line-height: 1.3; text-transform: uppercase;
	}
h3,
h4,
h5,
h6 {
 	font-size: 0.928em;
	}
p {
 	margin: 1.1em 0;
	}
p:first-child {
	margin-top: 0;
	}
/* blockquote  */
blockquote {
 	position: relative; margin: 2em 0; padding: 0.4em 1.2em; text-align: center; font-size: 1.1em; font-weight: bold; line-height: 1.5; text-transform: uppercase;
	}
	blockquote p {
		margin-bottom: 0;
		}
	blockquote cite {
		display: block; font-size: 10px; letter-spacing: 1px; padding-right: 1em; margin-top: .8em; font-style: normal; font-weight: 400; color: #bbb;;
		}
hr {
 	padding: .2em 0 1em 0; margin-bottom: 2em; outline: 0; border-width: 0 0 1px 0; border-style: solid; border-color: #eee;
	}
/* tables  */
table,
th,
td {
	border: 1px solid #f1f1f1;
	}
table {
	margin: 1em 0 3em 0; font-size: 11px; border-collapse: separate; border-spacing: 0; border-width: 1px 0 0 1px; table-layout: fixed;
	}
caption,
th,
td {
	font-weight: normal; text-align: left;
	}
th {
	border-width: 0 1px 1px 0; font-weight: 700;
	}
td {
	border-width: 0 1px 1px 0;
	}
th, td {
	padding: 0.5em 1em;
	}
thead th {
	padding: .8em 1em; 
	}
/* code and pre  */
code,
pre {
 	padding: 0 3px 2px; margin: 2em 0 4em; font-family: Monaco, Menlo, Consolas, "Courier New", monospace; font-size: 12px; line-height: 22px; color: #333; white-space: pre; overflow: auto;
	}
code {
 	display: inline-block; margin: 0 4px -6px; padding: 0px 6px; font-size: 12px; background: #fff; border: 1px solid #E9E6DF; box-shadow: 1px 1px 0 #fff, 2px 2px 0 #F5F5F3;
	}
pre {
    padding: 1em 2em; background: #fafafa;
	}
/* lists  */
ol,
ul {
 	margin: .2em 0 1em 0;
	}
ul {
 	list-style: disc;
	}
dt {
 	margin-bottom: .2em; font-weight: bold; font-size: 12px;
	}
dd {
	padding-bottom: 1.6em; margin-left: 1em;
	}


/*  --------------------------------------------

	2. FORMS (@forms) - form elements
	
    -------------------------------------------- */
form p {
 	position: relative; margin: 1.6em 0;
	}
label {
 	display: block; font-size: 10px; color: #333; margin-bottom: .4em; text-transform: uppercase;
	}
label input { 
    font-weight: 400;
    }
input:not([type=submit]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]),
input.input-text,
textarea,
select {
 	padding: .85em 1em; width: 100%; font-size: 13px; color: #333; border: 1px solid #eee; background: #fff; -webkit-appearance: none; -webkit-tap-highlight-color: transparent; box-sizing: border-box;
	}
input:not([type=submit]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]):hover,
textarea:hover,
input:hover,
select:hover {
 	outline: 0;
	}
input:not([type=submit]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]):focus,
textarea:focus,
input:focus,
select:focus {
 	border-color: #ccc; outline: 0;
	}
textarea {
 	min-height: 9em; line-height: 1.3;
	}
.inline-label {
 	display: inline-block; margin-right: 1.4em; font-family: inherit; font-size: 13px; font-weight: 400; text-transform: none;
	}
::-webkit-input-placeholder { color:#ccc; }
::-moz-placeholder { color:#ccc; } /* firefox 19+ */
:-ms-input-placeholder { color:#ccc; } /* ie */

/* select list */
select {
    -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAZJJREFUaIHt1r9LVWEYB/DPVTEpgqRBaEhocmiyoc2lrZbG+gts8z8I5xykRfwxROBiEBENSdAmQZMKTldwUHAJAltEBG2453Beg7zXe99zXZ4PHC7nx/s833O5931fQgghhBBCCDUbxCqe9qHXc7zDQM6iizjHMaZyFv7HE5wUvRY6GdDpW+4XnyP4gskrR2vvMT5juDg/yFm8gTmtb+YcvzCRsf5D/E7qvyl6ZtXAStLkAOMZ6j7AYVJ3WQ3hS4P4kDTbxVgP9e5hL6m3VvSo1TDWk6bbGO2izl3sJHW+qn7/tbuFjaT5j+Jap27jZzJ+AzczZ2zrDraSEN9wo4NxI/iejNssal2LMTSTMB8xdMnzQ/iUPN/U238oi3GtGakM9b9VdADvXZzF7vcpY1sTWmtDGW7examwgbfJ/dzrSBaP8EcV8nVybza5fqSelTyLKa39Uhl2pjjK87r3Ulk8w6kqdHmc6s9uNouXOFOFP8OLa03UhVeqF5iuq8llc3avFlUL1FKNfUIIIYQQQgjd+QvyJ2oyQcCnYgAAAABJRU5ErkJggg==); background-position: 97% center; background-position: right 10px center; background-repeat: no-repeat; background-size: 20px 20px;
}
select::-ms-expand {
    display: none;
	}
/* file upload  */
input[type=file]{
	width: 100%; outline: 0; cursor: pointer; font-size: 13px; cursor: pointer;
	}
input[type=file]::-webkit-file-upload-button {
	display: inline-block; padding: .6em 1em; border: 0; outline: 0; color: #333; background-color: transparent; border: 2px solid #333; cursor: pointer;
	}
/* checkbox  */
input[type=checkbox] {
    -webkit-appearance: none; height: 1em; position: relative; background-color: transparent; border: 2px solid #333; width: 1em; border-radius: 3px; outline: none;  font-size: 16px; vertical-align: text-bottom; margin-right: .6em;
	}
input[type=checkbox]:active {
    box-shadow: 0 0 0.8em rgba(0, 0, 0, 0.2) inset;
	}
input[type=checkbox]:before,
input[type=checkbox]:after {
    content: ''; background-color: inherit; position: absolute; transition: 0.1s background-color;
	}
input[type=checkbox]:after {
    width: 0.14em; height: 0.60em; -webkit-transform: rotate(36deg) translate(0.42em, -0.17em);
	}
input[type=checkbox]:before {
    width: 0.14em; height: 0.35em; -webkit-transform: rotate(-58deg) translate(-0.2em, 0.35em);
	}
input[type=checkbox]:checked:after,
input[type=checkbox]:checked:before {
    background-color: #333;
	}
/* radio  */
input[type=radio] {
    -webkit-appearance: none; height: 1em; position: relative; background-color: #fff; border: 2px solid #333; width: 1em; border-radius: 50%; outline: none; font-size: 16px; margin-right: .6em; vertical-align:  text-bottom;
	}
input[type=radio]:checked:before {
    content: ''; background-color: #333; position: absolute; border-radius: 50%; top: 3px; left: 3px; bottom: 3px; right: 3px;
	}

/* contactform7  */
.wpcf7 form p {
	text-transform: uppercase; font-size: 10px; color: #666;
	}
.wpcf7 input,
.wpcf7 textarea {
margin-top: 0.4em
	}
.wpcf7 input[type=submit] {
margin-top: 1.4em
	}
.wpcf7 span.wpcf7-not-valid-tip {
    font-size: 12px; color: #EC6363; font-weight: 400; text-transform: none;
	}
	
/* ninja forms styles */
html .ninja-forms-form-wrap label {
	font-weight: 400;
	}
html .ninja-forms-field-error {
	font-size: 12px; color: #EC6363;
	}
		
/* validation  */
label.error {
 	position: absolute; bottom: -18px; left: 0; margin: 0; min-width: 150px; font-family: inherit; font-size: 10px; font-weight: normal; text-transform: uppercase; padding: .2em .6em; background-color: #E65555; color: #fff; letter-spacing: 0;
	}
label.error:after {
 	content: " "; position: absolute; left: 1.6em; bottom: 100%; pointer-events: none; width: 0; height: 0; border-bottom: 8px solid #E65555; border-right: 8px solid transparent;
	}



/*  --------------------------------------------

	3. COMMON (@common) - common and helper classes
	
    -------------------------------------------- */
.cf:before,
.cf:after,
.row:before,
.row:after,
.hentry:before,
.hentry:after,
.site-main:before,
.site-main:after,
.blog-bold:before,
.blog-bold:after,
.entry-content:before,
.entry-content:after {
 	content: " "; display: table;
	}
.cf:after,
.row:after,
.hentry:after,
.site-main:after,
.blog-bold:after,
.entry-content:after {
 	clear: both;
	}
.center {
 	text-align: center;
	}
.easing {
 	-webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out;
	}
.easing-short,
input,
textarea,
.social-link,
.entry-title a,
.more-link,
.format-link .link-content > a:first-child,
.navigation a,
.pagination a,
.entry-meta a,
.nav-single a,
.comment a,
div.selector,
div.uploader,
.tagcloud a,
.nav-menu ul li a,
.owl-theme .owl-nav [class*='owl-'],
.owl-theme .owl-dots .owl-dot span,
.toggle-link,
.tptn_title,
.widget a,
.post-img:before,
.post-thumbnail .entry-header,
.gallery-item a:before,
.featured-image a:before,
.blog-simple .featured-image {
    -webkit-transition: all 0.2s ease-out; transition: all 0.2s ease-out;
	}
.button {
    -webkit-transition: all 0.1s ease-out; transition: all 0.1s ease-out;
	}


/*  --------------------------------------------

	4. LAYOUT (@layout) : layout styles
	
    -------------------------------------------- */
.site { 
	background: #fff; 
	}
.site-main { 
    margin-bottom: 3em; 
    }
.layout-full,
.layout-fixed,
.layout-medium {
	width: 86%; margin-left: auto; margin-right: auto;
	}
.layout-fixed,
.single .site-main .content-area:not(.with-sidebar),
.content-area:not(.with-sidebar) .blog-regular {
	 max-width: 658px; margin-left: auto; margin-right: auto;
	}
.layout-medium {
	 max-width: 940px;
	}
.layout-full {
	 max-width: 1900px;
	}
.hentry {
 	padding: 0 0 1em 0; background: #fff;
	}
.entry-header {
	padding-top: 2em;
	}
.site-content > .entry-header {
	margin-bottom: 2em;
	}
.page .hentry > .entry-header {
	text-align: center; 
	}
	.entry-title {
		margin: 0; text-transform: uppercase;
		}
        .entry-title i {
            display: block; font-size: 10px; letter-spacing: 2px; color: #ddd; font-style: normal; margin-bottom: .6em;  text-transform: uppercase; font-weight: 600;
			}
        .entry-title .cat-title {
			font-size: 20px; font-weight: 600; text-transform: uppercase;
			}
.entry-content {
	margin-top: 1.4em;
	}
.entry-content iframe,
.entry-content .fluid-width-video-wrapper {
	margin-bottom: 1.4em;
	}

/* ----- 4.1 HEADER ----- */
.site-header {
	width: 100%; margin-left: auto; margin-right: auto; padding: 0; z-index: 1000;
	}
	.site-title-wrap {
		padding: 2em 0;
		}
	.site-header .site-title-wrap {
		border-bottom: 1px solid #f3f3f3;
		}
	.site-title {
 	 	font-size: 2em; font-weight: 400; margin: 0; padding: 0; text-align: center;
		}
	.site-description {
 	 	font-size: 10px; letter-spacing: .05em; text-transform: uppercase; margin: .4em 0 0; text-align: center; color: #ccc;
		}
	.site-title a {
        color: #222;
		}
	.site-title img {
		max-height: 50px;
		}
    .toggle-link {
         display: block; width: 52px; line-height: 54px; height: 54px; font-size: 14px; text-align: center; cursor: pointer; overflow: hidden; color: rgba(220, 238, 255, 0.7); -webkit-user-select: none; user-select: none;
        }
    .toggle-link:hover {
        color: #fff;
        }
			
/* Search Toggle */
.search-toggle {
    position: absolute; top: 0; right: -14px; width: 42px; display: none;
	}
.search-toggle:before {
	content: "\e802";
	}
/* HEADER SEARCH */
.search-container {
	display: none; text-align: center;
	}
.is-search-toggled-on .search-container {
	display: block;
	}
.search-box {
	width: 100%; padding: 1em 0 3em;
    }
.search-box label { 
	font-size: 10px; letter-spacing: .1em; margin: 0; text-align: center; color: rgba(255, 255, 255, 1);
    }
	#search-field {
    display: block; padding: .6em 1.2em; text-align: center; background-color: transparent; border: 0; color: #fff; font-size: 19px !important; font-weight: 700; letter-spacing: -1px; width: 100%; max-width: 100%;
    }
.search-box #search-field::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.15); }
.search-box #search-field::-moz-placeholder { color: rgba(255, 255, 255, 0.15); }
.search-box #search-field:-ms-input-placeholder { color: rgba(255, 255, 255, 0.15); }
.search-container .search-submit { 
    display: none !important; 
    }
.is-search-toggled-on .site-header,
.is-social-toggled-on .site-header {
    position: relative;
    }
/* Header Social Icons */
.social-container { 
	display: block; position: absolute; top: 12px; right: 0px;
	}
.site-header a.social-link { 
      color: rgba(220, 238, 255, 0.5); font-size: 13px; width: 16px; line-height: 30px; border: 0; background: none;
    }
.site-header a.social-link:hover { 
      color: #fff; background: none;
    }

/* NAVIGATION */
.site-navigation { 
    display: block; background: #212933;
    }
.site-navigation .layout-medium { 
	position: relative;
    }
.nav-menu { 
    display: block; text-align: center;
    }
.nav-menu ul { 
    display: block; list-style:none; padding:0; margin:0; text-transform: uppercase;
    }
.nav-menu ul li { 
    position:relative; display:block; padding: 0; margin:0; line-height: 1; font-size: 10px; font-weight: 700; letter-spacing: 0.09em; 
    }
.nav-menu ul ul li { 
    font-weight: normal; font-size: 10px; letter-spacing: .06em;
    }
	.nav-menu ul li a { 
		display: block; padding: 0.6em;
		}
.nav-menu ul li, 
.nav-menu ul li a { 
    color:#fff; 
    }
.nav-menu ul li a:hover, 
.nav-menu ul li a.selected {
	opacity: .6;
	}

/* MOBILE MENU */
@media screen and (max-width: 991px) {
	.nav-menu { 
		display: none; padding: 2em 0;
		}
	.nav-menu ul ul {
		margin-bottom: 1.6em; display: none;
		}
	.nav-menu > ul > li > a { 
		font-size: 15px; 
		}
	.nav-menu ul li a {
		display: inline-block;
		}
	.submenu-toggle:before {
		content: "+"; font-size: 14px; font-weight: 400; display: inline-block; width: 26px; line-height: 24px; text-align: center; border: 1px solid #eee; margin-left: 3px; cursor: pointer; margin-bottom: 8px;
		}
	.submenu-toggle:hover:before {
		border-color: #ddd;
		}
	.active > .submenu-toggle:before {
		content: "-";
		}
	.nav-menu ul.active:before {
		content: "↓"; display: block; text-align: center; padding: 2px 0 4px; font-size: 14px; font-weight: 400;
		}
	.nav-menu li.active > ul {
		display: block;
		}
	/* mobile menu toggled on */
	.is-menu-toggled-on .nav-menu,
	.is-menu-toggled-on .search-container { 
		display: block;
		}
}

/* MENU TOGGLE */
.menu-toggle {
	transition: .3s; cursor: pointer; display: block; width: 17px; height: 54px; margin: 0; position: relative;
	}
.menu-toggle:hover {
	opacity: 1;
	}
.menu-toggle:active {
	transition: 0;
	}
.menu-toggle .lines {
	display: inline-block; width: 100%; height: 2px; background: #fff; transition: 0.3s; position: relative; position: absolute; top: 47%;
	}
.menu-toggle .lines:before, 
.menu-toggle .lines:after {
	display: inline-block; width: 100%; height: 2px; background: #fff; transition: 0.3s; position: absolute; left: 0; content: ''; -webkit-transform-origin: 0.28571rem center; transform-origin: 0.28571rem center;
	}
.menu-toggle .lines:before {
	top: 6px;
	}
.menu-toggle .lines:after {
	top: -6px;
	}
.menu-toggle.close {
	-webkit-transform: scale3d(0.8, 0.8, 0.8); transform: scale3d(0.8, 0.8, 0.8);
	}
.is-menu-toggled-on .menu-toggle .lines {
	background: transparent;
	}
.is-menu-toggled-on .menu-toggle .lines:before, 
.is-menu-toggled-on .menu-toggle .lines:after {
	-webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; top: 0;
	}
.is-menu-toggled-on .menu-toggle .lines:before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg); transform: rotate3d(0, 0, 1, 45deg);
	}
.is-menu-toggled-on .menu-toggle .lines:after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);transform: rotate3d(0, 0, 1, -45deg);
	}
	
/* HEADER LIGHT */
.header-light .site-navigation {
	    background: rgba(255, 255, 255, 0.96); border-bottom: 1px solid #f1f1f1;
	}
.header-light .menu-toggle .lines,
.header-light .menu-toggle .lines:before, 
.header-light .menu-toggle .lines:after {
	background: #333;
	}
.header-light.is-menu-toggled-on .lines {
	background: none;
	}
.header-light .site-header a.social-link {
	color: rgba(0, 0, 0, 0.15);
	}
.header-light .nav-menu ul li, 
.header-light .nav-menu ul li,
.header-light .nav-menu ul li a,
.header-light .site-header a.social-link:hover {
	color: #333;
	}
.header-light .toggle-link {
	color: #333;
	}
.header-light #search-field,
.header-light .search-box label {
	color: #333;
	}
.header-light .search-box #search-field::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.08); }
.header-light .search-box #search-field::-moz-placeholder { color: rgba(0, 0, 0, 0.1); }
.header-light .search-box #search-field:-ms-input-placeholder { color: rgba(0, 0, 0, 0.1); }

/* HEADER SMALL */
.header-small .site-header {
	min-height: 54px;
	}
.header-small .site-header .site-title-wrap {
	position: absolute; top: 0; padding: 0; margin: 0; border: 0; z-index: 10000; display: none;
	}
.header-small .site-header .site-title {
	position: absolute; top: 12px; left: 32px; display: inline-block; text-align: left;
	}
.header-small .site-header .site-description {
	display: none;
	}
.header-small:not(.has-menu-border) .site-navigation {
	border: 0;
	}
.header-small .site-header .site-title img {
	max-height: 32px;
	}
.header-small .site-header a.social-link {
	width: 15px; font-size: 13px;
	}

/* ----- 4.2 FOOTER ----- */
.site-footer {
	position: relative; z-index: 4; width: 100%; padding: 1.2em 0 0 0; border-top: 1px solid #f1f1f1;
	}
    .site-footer .site-info {
		padding: 1.4em 0 ; text-align: center;
        }
        .site-footer .site-info .textwidget {
            margin: 0;  font-size: 11px;
            }
	.site-footer .site-description {
		margin-top: .8em;
		}
/* FOOTER SOCIAL */
.footer-social {
	text-align: center; margin: 1em 0 0;
	}
.footer-social .textwidget {
	margin: 0; display: inline-block; padding: 8px 12px 4px; background: #fff;	
	}
.footer-social a.social-link {
	margin: 0 .1em .2em; background: none;
	}
/* FOOTER WIDGETS */
.site-footer .widget-area {
	margin: 3em 0; padding: 0;
	}
.footer-instagram {
	padding: 2em 0 0 0; text-align: center;
	}
.site-footer .button,
.site-footer input[type=submit],
.site-footer input[type=button],
.site-footer button {
	padding: 1.2em 1.8em;
	}

/* Assistive text */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px); position: absolute;
	}
.screen-reader-text:focus {
	background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto; color: #21759b; display: block; font-size: 14px; 	font-weight: bold; height: auto; line-height: normal; padding: 15px 23px 14px; position: absolute; left: 5px; top: 5px; text-decoration: none; text-transform: none; width: auto; z-index: 100000; /* Above WP toolbar */
    }

/*  --------------------------------------------

	5. MODULES @modules : reusable styles
	
    -------------------------------------------- */

/* POST SLIDER */
.post-slider {
	width: 86%; max-width: 1440px; margin: 0 auto;
	}
	
/* POST THUMBNAILS */
.post-thumbnail { 
    position: relative; width: 100%; padding-top: 66%; background-position: center center; background-size:cover; background-color: #DBDBD9;
    }
.post-thumbnail .entry-header {
    z-index: 1; max-width: none; width: 100%; height: 100%; padding: 18% 12% 0; text-align: center; vertical-align: middle; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: rgba(33, 41, 51, 0.35);
	}
.post-thumbnail .entry-title { 
	max-width: 300px; margin-left: auto; margin-right: auto; margin-top: .2em; font-weight: 600; font-size: 17px; text-transform: uppercase; word-break: break-word;
	}
.post-thumbnail .entry-title,
.post-thumbnail .entry-title a { 
    color: #fff;
	}
.post-thumbnail .entry-title a:hover { 
    color: rgba(255,255,255, .8);
	}
.post-thumbnail .entry-meta { 
    padding: 0 0 4px 0;
    }
.post-thumbnail .cat-links a {
	color: #fff; margin-bottom: 10px;
	}
.post-thumbnail .comment-link a:hover,
.post-thumbnail .edit-link a:hover {
	color: #fff;
	}
.post-thumbnail p {
	margin-top: 0;
	}
.post-thumbnail .more-link { display: inline-block; margin-top: 14px; opacity: 0; color: #fff; text-transform: uppercase; font-size: 10px; letter-spacing: 1px; border-bottom: 2px solid #fff;
	}
.post-thumbnail:hover .more-link { 
	opacity: 1;
	}
.more-link:hover { 
	border-bottom-width: 6px;
	}


/* Password Protected Page */
.post-password-form {
    max-width: 420px; margin: 0 auto; text-align: center;
 	}
.post-password-form input {
    margin: 1em auto; display: block; text-align: center;
    }

/* PAGING */
.page-links { 
	text-align: center; font-size: 11px; margin-top: 5em;
	}
.page-links .page-links-title { 
	font-weight: bold; margin-right: 1em; text-transform: uppercase; 
	}
.page-links .page-number {
	display: inline-block; padding: .5em 1.1em; margin: 0; font-size: 10px; font-weight: 700; color: #444; background: #fafafa; 
	}
.page-links a .page-number:hover { 
	background: #eee;
	}
.page-links > .page-number { 
	background: none; cursor: default;
	}

/* MEDIA GRID */
.media-grid-wrap {
 	width: 106.8%; margin-left: -3.4%;
	}

/* 404 */
.page-404 {
    text-align: center; 
    }
.page-404 input {
    text-align: center; margin-top: 1.2em;
    }
.page-404 label input {
    margin-top: 2em; padding: 1.3em !important;
    }
		
/* DROP CAP */
.drop-cap:first-letter,
.single-post .entry-content > p:first-child:first-letter {
 	font-size: 42px; line-height: 1.1; font-weight: bold; float: left; padding: 0px 6px 0px 0; margin-bottom: -6px;
	}

/* MEDIA WRAP */
.media-wrap {
	background: url(../images/bckg/loading.gif) center center no-repeat; background-size: 88px 8px;
	}

/* Magnific Popup */
.mfp-wrap button {
	background-color: transparent !important;
	}
button.mfp-close,
button.mfp-arrow:before {
	background: url(../js/jquery.magnific-popup/default-skin.svg) 0 0 no-repeat; background-size: 264px 88px;
	}
button.mfp-close {
	width: 44px; height: 44px; color: transparent; background-position: 0 -44px;
	}
button.mfp-arrow { 
	width: 70px; height: 100px; opacity: .9;
	}
button.mfp-arrow:hover,
button.mfp-close:hover { 
	background-color: transparent; 
	}
button.mfp-arrow:after { 
	display: none; 
	}
button.mfp-arrow:before {
	content: ''; position: absolute; top: 35px; height: 30px; width: 32px; border: 0; margin: 0;
	}
button.mfp-arrow-left:before {
	left: 6px; background-position: -138px -44px; 
	}
button.mfp-arrow-right:before {
	left: auto; right: 6px; background-position: -94px -44px; 
	}
.mfp-title {
	line-height: 30px; padding: 0; width: 100%; text-align: center; position: absolute; text-transform: uppercase; font-size: 10px; letter-spacing: .04em;
	}
.mfp-counter {
	position: fixed; top: 14px; left: 14px; text-align: center; font-size: 13px; letter-spacing: -1px; font-weight: 400; color: #fff; opacity: .7; 
	}
.mfp-removing button,
.mfp-removing .mfp-title { 
	opacity: 0; 
	}
.mfp-figure:after {
	box-shadow: none; 
	}	
.mfp-iframe-holder .mfp-close {
	background: none; 
	}
/* zoom-in animation */
html {
	-webkit-backface-visibility: hidden;
	}
.mfp-ready .mfp-figure {
	opacity: 0;
	}
.mfp-zoom-in .mfp-figure { 
	opacity: 0; transition: all 0.2s ease-out; transform: scale(0.9);
	}
.mfp-zoom-in.mfp-bg,
.mfp-zoom-in .mfp-preloader {
	opacity: 0; transition: all 0.2s ease-out;
	}
.mfp-zoom-in.mfp-image-loaded .mfp-figure {
	opacity: 1; transform: scale(1);
	}
.mfp-bg { 
	background: #212933; 
	}
.mfp-zoom-in.mfp-ready.mfp-bg,
.mfp-zoom-in.mfp-ready .mfp-preloader {
	opacity: 0.95;
	}
.mfp-zoom-in.mfp-removing .mfp-figure {
	transform: scale(0.9); opacity: 0;
	}
.mfp-zoom-in.mfp-removing.mfp-bg,
.mfp-zoom-in.mfp-removing .mfp-preloader {
	opacity: 0;
	}
.mfp-preloader {
	width: 88px; height: 8px; opacity: 0.65; margin: 0 auto; background: url(../images/bckg/loading-light.gif) center center no-repeat; background-size: 88px 8px;
	}
/* fade image change */
.mfp-image-loaded .mfp-figure {
	-webkit-animation-name: fadeIn; animation-name: fadeIn; -webkit-animation-duration: .2s; animation-duration: .2s; -webkit-backface-visibility: hidden;
	}
@-webkit-keyframes fadeIn{
	0%{ opacity:0 }
	100%{ opacity:1 }
	}
@keyframes fadeIn{
	0%{ opacity:0 }
	100%{ opacity:1 }
	}

/* GRID PAGE */
.show-grid div {
 	font-size: 12px; padding-top: .9em; padding-bottom: .9em; text-align: center; margin-bottom: 1.4em; border: 1px solid #eee; border-radius: 0;
	}
	
/* SHORTCODES PAGE */
.show-buttons .button {
 	margin: 0 1em 1em 0
	}

/* BlOG REGULAR */
.blog-regular .entry-title {
	font-size: 1.2em; text-transform: uppercase;
	}
.blog-regular .entry-header {
	padding-top: 0;
	}
.blog-regular .hentry {
	margin-top: 2em;
	}

/* BLOG MASONRY */
.blog-masonry {
    margin: 2em 0 0;
    }
    .blog-masonry .hentry {
        background: #fff; float: left; margin-bottom: 0.4em; padding: 0 10px 10px 10px; width: 100%; 
        }
        .blog-masonry .entry-content {
            margin-top: 1.2em;
            }
        .blog-masonry .entry-meta {
            padding-top: .6em; 
            }
		.blog-masonry .comment-link {
            display: none;
            }
        .blog-masonry .entry-header {
            padding-top: 1em;
            }
        .blog-masonry .hentry .entry-title {
            font-size: 14px; font-weight: 600; text-transform: uppercase;
            }
        .blog-masonry .featured-image {
            margin: 0; 
            }
@media screen and (max-width: 767px) {
	.blog-masonry .entry-content {
		font-size: 11px;
		}	
	}
.blog-masonry + .navigation,
.blog-masonry + .post-pagination { 
	padding-left: 10px; padding-right: 10px; padding-top: 0;
	} 

/* BLOG IRREGULAR */
.blog-irregular .entry-header {
	padding: 0.8em;
	}
.blog-irregular .entry-content {
	display: none;
	}
.blog-irregular .hentry .entry-title {
	font-size: 12px;
	}
.blog-irregular .edit-link {
	display: none;
	}
/* TABLET VIEW */
.blog-irregular.tablet-view .entry-header,
.blog-irregular.desktop-view .entry-header {
	padding: 1.6em;
	}

.blog-irregular.tablet-view .entry-title,
.blog-irregular.desktop-view .entry-title {
	font-size: 14px;
	}
.blog-irregular.tablet-view .img-horizontal.type-1 {
	padding: 0 1em;
	}
.blog-irregular.tablet-view .img-vertical {
	padding: 0 4em;
	}
.blog-irregular.tablet-view .img-vertical.type-1 {
	padding: 0 5em;
	}
.blog-irregular.tablet-view .img-square {
	padding: 0 2em;
	}
.blog-irregular.tablet-view .img-square.type-1 {
	padding: 0 3em;
	}
.blog-irregular.first-full.tablet-view .hentry:first-child {
	padding: 0 10em;
	}
/* DESKTOP VIEW */
.blog-irregular.desktop-view .hentry {
	margin-bottom: 3em;
	}
.blog-irregular.desktop-view .img-vertical {
	padding: 0 7em;
	}
.blog-irregular.desktop-view .img-vertical.type-1 {
	padding: 0 8em;
	}
.blog-irregular.desktop-view .img-square {
	padding: 0 5em;
	}
.blog-irregular.desktop-view .img-square.type-1 {
	padding: 0 6em;
	}
.blog-irregular.first-full.desktop-view .hentry:first-child {
	padding: 0 16em;
	}

/* BLOG LIST */
.blog-list { 
	margin: 2em 0; 
	}
.blog-list .hentry {
	margin-bottom: 1em; padding: 0;
	}
.blog-list .featured-image {
	width: 40%; float: left; margin-top: 0;
	}
.blog-list .hentry-middle {
	width: 60%; float: left; padding: 1em 2em; 
	}
.blog-list .entry-content,
.blog-list .comment-link {
	display: none; 
	}
.blog-list .entry-header {
	padding: 0; 
	}
.blog-list .entry-meta {
	margin-bottom: .8em;
	}
.blog-list .hentry .entry-title {
	font-size: 14px; text-transform: uppercase; font-weight: 600;
	}
.blog-list .entry-content {
	margin-top: 1.4em;
	}
.blog-list .hentry:not(.has-post-thumbnail) .hentry-middle {
    width: 100% !important;
	}
/* BLOG LIST FIRST FULL */
.blog-list.first-full .hentry:first-child .featured-image {
	width: 100%; float: none;
	}
.blog-list.first-full .hentry:first-child .hentry-middle {
	width: 100%; float: none; padding: 1em 0;
	}
.blog-list.first-full .hentry:first-child .entry-content {
	display: block;
	}

/* FIRST FULL POST */
.first-full:not(.blog-creative) .hentry:first-child {
	margin-bottom: 2em;
	}
.first-full:not(.blog-creative) .hentry:first-child .entry-title {
	font-size: 1.2em;
	}
.first-full:not(.blog-creative):not(.blog-irregular) .hentry:first-child .featured-image {
	margin-top: 1.6em;
	}

/* BLOG CREATIVE */
.blog-creative {
	margin: 2em 0;
	}
.blog-creative.first-full,
.post-slider + * .blog-creative {
	margin-top: 0;
	}
.blog-creative .hentry {
	padding-bottom: 0;
	}
.blog-creative .post-thumbnail .entry-title { 
	font-size: 4vw;
	}
.blog-creative:not(.first-full) .post-thumbnail,
.blog-creative.first-full .hentry:not(:first-child) .post-thumbnail {
	width: 50%; float: left; background-color: #fff;
	}
.blog-creative:not(.first-full) .hentry:nth-child(even) .post-img,
.blog-creative.first-full .hentry:nth-child(odd) .post-img {
	float: left;
	}
.blog-creative:not(.first-full) .hentry:nth-child(even) .post-thumbnail,
.blog-creative.first-full .hentry:nth-child(2n+1) .post-thumbnail {
	float: right;
	}
.hentry:not(.has-post-thumbnail) .post-img { background: #111; }
.post-img:before {
	content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0;
	}
.blog-creative .hentry:hover .post-img:before {
	background: rgba(33, 41, 51, 0.2);
	}
.post-img > a {
	position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 105; text-indent: -999em; overflow: hidden;
	}
.blog-creative .hentry .post-thumbnail.post-img .entry-header {
	padding-top: 0 !important; position: absolute; top: 50%; margin-top: -4px; height: auto;
	}
.hentry.has-post-thumbnail .post-img .entry-header {
	opacity: 0;
	}
.blog-creative .hentry.has-post-thumbnail:hover .post-img .entry-header {
	opacity: 1;
	}
.blog-creative .hentry:not(.has-post-thumbnail) .post-img .entry-header {
	margin-top: -64px;
	}
.blog-creative .hentry:not(.has-post-thumbnail) .post-img .entry-meta:before {
	display: block; padding: 0; font-size: 62px; color: #fff;
	}
.blog-creative .hentry:not(.has-post-thumbnail) .post-thumbnail:not(.post-img) .entry-meta:before,
.blog-creative .hentry.has-post-thumbnail .post-img .entry-meta:before,
.blog-bold .hentry .entry-title + .entry-meta:before  {
	display: none;
	}
.post-img .entry-meta, 
.post-img .comment-link a, 
.post-img .edit-link a {
	color: #fff;
	}
.post-img .comment-link {
	display: none;
	}
.post-desc .cat-links a {
	color: #333;
	}
.post-desc { 
	position: relative; background: #fff; border-color: #eee; border-style: solid;
	}
.post-desc:after {
	position: absolute; right: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; pointer-events: none; border-color: rgba(255, 255, 255, 0); border-right-color: #fff; border-width: 6px; margin-top: -6px;
	}
.blog-creative:not(.first-full) .hentry:nth-child(even) .post-desc:after,
.blog-creative.first-full .hentry:nth-child(odd) .post-desc:after {
	left: 100%; right: auto; border-left-color: #fff; border-right-color: transparent;
	}
.blog-creative:not(.first-full) .hentry:nth-child(odd) .post-desc,
.blog-creative.first-full .hentry:nth-child(even) .post-desc {
	border-width: 0 1px 0 0;
	}
.blog-creative:not(.first-full) .hentry:nth-child(even) .post-desc,
.blog-creative.first-full .hentry:nth-child(odd) .post-desc  {
	border-width: 0 0 0 1px;
	}
.blog-creative:not(.first-full) .hentry:last-child .post-desc,
.blog-creative.first-full .hentry:last-child .post-desc {
	border-bottom-width: 1px;
	}
.blog-creative:not(.first-full) .hentry:first-child .post-desc {
	border-width: 1px 1px 0 0;
	}
.blog-creative:not(.first-full) .entry-header,
.blog-creative.first-full .hentry:not(:first-child) .entry-header {
	background: none;
	}
.blog-creative:not(.first-full) .post-thumbnail .entry-title a,
.blog-creative.first-full .hentry:not(:first-child) .post-thumbnail .entry-title a {
	color: #333;
	}
.blog-creative:not(.first-full) .post-thumbnail .entry-title a:hover,
.blog-creative.first-full .hentry:not(:first-child) .post-thumbnail .entry-title a:hover {
	color: #000;
	}
.blog-creative:not(.first-full) .post-thumbnail .more-link,
.blog-creative.first-full .hentry:not(:first-child) .more-link {
	color: #333; border-bottom-color: #333; border-bottom-width: 3px; opacity: 1;
	}
.blog-creative:not(.first-full) .post-thumbnail .more-link:hover,
.blog-creative.first-full .hentry:not(:first-child) .more-link:hover {
	border-bottom-width: 5px;
	}
.blog-creative.first-full .hentry:first-child .post-thumbnail .entry-header {
	background: rgba(33, 41, 51, 0.3);
	}
.blog-creative.first-full .hentry:first-child:hover .post-thumbnail .entry-header {
	background: rgba(33, 41, 51, 0.4);
	}
.blog-creative.first-full .hentry:first-child .post-thumbnail .entry-title {
	max-width: 400px;
	}
	
/* post with no featured image */
.blog-creative .post-desc:only-child { 
	width: 100% !important;
	}
.blog-creative .post-desc:only-child { 
	border-width: 1px !important;
	}
.blog-creative .post-desc:only-child .entry-header {
	padding-top: 14% !important;
	}
.blog-creative .post-desc:only-child .entry-title {
	max-width: 100% !important;
	}

/* BLOG BOLD */
.blog-bold {
	max-width: 1440px; margin-top: -1px; margin-bottom: 1em; margin-left: auto; margin-right: auto; 
	}
.post-slider + * .blog-bold,
.post-slider + * .blog-creative.first-full {
	margin-top: 3.2em;
	}
.blog-bold .hentry {
	padding: 0; margin-bottom: 2em;
	}
.blog-bold + .post-pagination, .blog-bold + .navigation {
    max-width: 1440px; margin-left: auto; margin-right: auto;
	}
.blog-bold .hentry .entry-meta:before {
	color: #fff;
	}
/* BLOG WATERFALL */
.waterfall {
	margin-left: -10px; margin-right: -10px;
	}
.waterfall .hentry {
	margin-bottom: 0 !important; padding: 0 10px 20px 10px;
	}

/* ON SCROLL ANIMATIONS */	
.blog-animated .blog-stream .out {
	opacity: 0;
	}
/* Some Effects from Animate.css - http://daneden.me/animate */
.animated{ -webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both }
@-webkit-keyframes fadeIn{ from{opacity:0}to{opacity:1}}
@keyframes fadeIn{from{opacity:0}to{opacity:1}}
.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}
@-webkit-keyframes zoomIn{from{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}50%{opacity:1}}
@keyframes zoomIn{from{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}50%{opacity:1}}
.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn}
@-webkit-keyframes slideInUp{from{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}
@keyframes slideInUp{from{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}
.slideUp{-webkit-animation-name:slideInUp;animation-name:slideInUp}

/* FLUIDBOX */
.fluidbox {
	cursor: pointer; cursor: zoom-in; cursor: -webkit-zoom-in; cursor: -moz-zoom-in;
    }
.fluidbox-overlay {
	background: rgba(255, 255, 255, 0.95) !important;
	}
	
/* BLOG */
.blog-posts .entry-title {
 	margin: 6px 0 0 0; font-size: 1.8em; text-align: left;
	}
    .entry-title a {
        color: #222;
        }
/* entry-meta */
.entry-meta {
    padding: 0.6em 0 0 0; font-size: 10px; text-transform: uppercase; letter-spacing: .05em;
	}
.entry-meta,
.comment-link a,
.edit-link a {
	color: #ccc; 
	}
	.entry-meta > span {
        display: inline-block; position: relative; margin-right: .8em;
		}
	.entry-meta > span:last-child {
        margin-right: 0;
		}
	.cat-links {
		margin-bottom: -4px;
		}
	.cat-links a {
		margin: 0 2px 4px 0; text-transform: uppercase; font-size: 10px; letter-spacing: 1px; display: inline-block; color: #222;
		}
	.entry-meta .cat-links a:hover {
		opacity: .8;
		}
	.entry-meta i {
		margin-right: 1px; font-size: 16px;
		}
/* more link */
.entry-content a.more-link {
	display: inline-block; font-weight: 400; text-transform: uppercase; font-size: 10px; letter-spacing: .03em; border-bottom: 3px solid #eaeaea; color: #333;
	}
.entry-content a.more-link:after {
	display: inline-block; padding-left: 4px; font-family: fontello; content: '\e8ba'; font-size: 10px;
	}
.entry-content a.more-link:hover {
	border-bottom-color: #333;
	}
/* featured image */
.featured-image {
 	margin-top: 1.6em; position: relative;
	}
	.featured-image a:before {
		content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: #222; opacity: 0;
		}
	.featured-image img {
 		display: block;
		}
	.featured-image:hover a:before {
		opacity: .05;
		}
.blog-posts .featured-image,
.blog-posts .entry-header,
.blog-posts .entry-content {
 	margin-left: 90px;
	}
.fluid-audio.fluid-width-video-wrapper {
	padding-top: 56.25%;
	}

/* POST FORMATS */
.hentry .entry-meta:before {
 	font-family: Fontello; font-size: 18px; color: #555; display: inline-block; padding-right: .4em; vertical-align: middle;
	}
/* sticky  */
.hentry.sticky .entry-meta:before {
 	content: "\e81d";
	}
/* quote  */
.format-quote .entry-content {
    text-align: center;
    }
.format-quote .entry-meta:before {
 	content: "\e81a"
	}
.format-quote blockquote {
 	width: 100%; margin: 0; text-align: left;
	}
.format-quote blockquote:before {
 	content: ""
	}
/* link  */
.format-link .entry-meta:before {
 	content: "\e872"
	}
.format-link .entry-content  > p:first-child a:first-child {
    font-size: 1em; font-style: italic; word-break: break-all; padding: .4em 1.2em; margin-bottom: 1em; display: inline-block; border: 2px solid #2BBE8D; 	
	}
/* status  */
.format-status .entry-meta:before {
 	content: "\e84e"
	}
.format-status .entry-content > p:first-child {
    display: inline-block; padding: .5em 1em; font-size: 1.0em; font-style: italic; line-height: 1.5; background: #f7f7f7;
	}
/* chat  */
.format-chat .entry-meta:before {
 	content: "\e813"
	}
.chat-row:after {
 	display: table; content: ""; line-height: 0;
	}
.chat-author {
 	float: left; width: 88px; margin-top: 5px;
	}
.chat-author cite {
 	display: inline-block; min-width: 80%; margin-right: .1em; font-size: 13px; font-style: normal;
	}
.chat-text {
 	padding-left: 100px;
	}
.chat-text p {
    position: relative; display: inline-block; max-width: 460px; padding: 6px 12px; margin-top: 0; margin-bottom: 1em; background: #FFF; border-radius: 4px; font-size: 12px; line-height: 1.5; background-color: #394453; color: #fff;
    }
.chat-text p:empty {
    display: none;
	}
.chat-speaker-2 .chat-text p {
	background: #f7f7f7; color: #333;
    }
.chat-speaker-2 .chat-text p:before {
        background-color: #212933; 
    }
/* video  */
.format-video .entry-meta:before {
 	content: "\e816"
	}
/* audio  */
.format-audio .entry-meta:before {
 	content: "\e885"
	}
img + .mejs-audio {
 	margin-top: -4px; 
	}
.format-audio iframe {
	width: 100%; height: 222px;
	}
/* image  */
.format-image .entry-content {
    padding-top: 1.6em;
    }
.format-image .entry-meta:before {
 	content: "\e86a"
	}
.format-image .entry-content {
 	margin-bottom: 1em
	}
/* gallery  */
.format-gallery .entry-meta:before {
 	content: "\e86a"
	}
.gallery {
	width: 100%; margin: 16px -8px; padding: 8px; padding-top: 0; font-size: 0; min-height: 120px; background: url(../images/bckg/loading.gif) center 100px no-repeat; background-size: 88px 8px;
    -webkit-perspective: 1300px;
    -moz-perspective: 1300px;
    perspective: 1300px;
	}
.gallery:first-child { 
	margin-top: 0; 
	}
.gallery:before,
.gallery:after {
 	content: " "; display: table; clear: both;
	}
.gallery-item {
	display: block; position: relative; float: left; margin: 0 4px 4px 0;
    }
.gallery-item a {
	display: block; position: relative; float: left; cursor: -webkit-zoom-in; cursor: -moz-zoom-in; cursor: zoom-in;
    }
.gallery-item a:before {
	content: ""; opacity: 0; position: absolute; width: 100%; height: 100%; top: 0; left: 0; bottom: 0; right: 0; text-align: center; overflow: hidden; background: #33475D; background: rgba(51, 71, 93, 0.2); 
	}
.gallery-item a:hover:before { 
	opacity: 1; 
	}
.gallery-item img {
	width: 100%;
    }
.gallery-caption {
	width: auto;
	}
/* GALLERY COLLAGE LAYOUT */
.collage-loaded {
	min-height: initial; background: none;
	}
.gallery figure {
	display: block; opacity:0; 
	}
.no-csstransforms3d .gallery figure {
	opacity: 1 !important;
	}
.gallery img {
 	display: block; width: 100%;
	}
/* EFFECT 2 */
.effect-2 {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    transform: translateY(200px);
    -webkit-animation: moveUp ease forwards;
    -moz-animation: moveUp ease forwards;
    animation: moveUp ease forwards;
}
@-webkit-keyframes moveUp {
    to { -webkit-transform: translateY(0); opacity: 1; }
}
@-moz-keyframes moveUp {
    to { -moz-transform: translateY(0); opacity: 1; }
}
@keyframes moveUp {
    to { transform: translateY(0); opacity: 1; }
}
/* Universal durations */
.effect-duration-1{
    -webkit-animation-duration: .4s;
    -moz-animation-duration:    .4s;
    animation-duration:         .4s;
}
.effect-duration-2{
    -webkit-animation-duration: .5s;
    -moz-animation-duration:    .5s;
    animation-duration:         .5s;
}
.effect-duration-3{
    -webkit-animation-duration: .6s;
    -moz-animation-duration:    .6s;
    animation-duration:         .6s;
}
.effect-duration-4{
    -webkit-animation-duration: .7s;
    -moz-animation-duration:    .7s;
    animation-duration:         .7s;
}
.effect-duration-5{
    -webkit-animation-duration: .8s;
    -moz-animation-duration:    .8s;
    animation-duration:         .8s;
}
.effect-duration-6{
    -webkit-animation-duration: .9s;
    -moz-animation-duration:    .9s;
    animation-duration:         .9s;
}
.effect-duration-7{
    -webkit-animation-duration: .95s;
    -moz-animation-duration:    .95s;
    animation-duration:         .95s;
}
.effect-duration-8{
    -webkit-animation-duration: 1s;
    -moz-animation-duration:    1s;
    animation-duration:         1s;
}
.effect-duration-9{
    -webkit-animation-duration: 1.05s;
    -moz-animation-duration:    1.05s;
    animation-duration:         1.05s;
}
.effect-duration-10{
    -webkit-animation-duration: 1.1s;
    -moz-animation-duration:    1.1s;
    animation-duration:         1.1s;
}
/* gallery slider */
.entry-content .owl-carousel {
	margin-bottom: 2em;
	}
/* aside  */
.format-aside .entry-meta:before {
 	content: "\e81e"
	}
.format-aside .entry-content {
	margin-top: 2.2em; max-width: 440px; padding: 1.9em 2.4em; line-height: 2;
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.08) 1px, transparent 1px);
	background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px);
	background-image: -ms-linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px);
	border: 1px solid rgba(51, 51, 51, 0.09);
	background-size: 100% 2.0em;
	background-position: 0 1.5em;
	background-origin: content-box;
	background-color: rgba(255, 255, 0, 0.15);
	}
.format-aside .entry-content p {
	margin-top: 0.1em;
	}

/* PAGINATION */
.navigation,
.post-pagination {
 	padding: 1em 0; text-transform: uppercase; max-width: 1440px; margin-left: auto; margin-right: auto;
	}
	.navigation > div {
 		width: 50%; float: left;
		}
	.navigation a {
 		display: inline-block; padding: 1.3em 0; font-size: 10px; letter-spacing: 1px; line-height: 1.3; color: #222;
		}
	.navigation a:hover {
 		opacity: .7;
		}
	.nav-next a:after,
	.nav-previous a:before,
	.pagination-prev a:before,
	.pagination-next a:before { 
		font-family: fontello; font-weight: normal; font-size: 12px; 
		}
	.nav-next a:after {
		content: "\e8ba"; margin-left: 6px;
		}
	.nav-previous a:before {
		content: "\e8b9"; margin-right: 6px;
		}
	.navigation .nav-next {
		float: right; text-align: right;
		}
/* NUMBERED PAGINATION */
.post-pagination ul {
	list-style: none; text-align: center; padding: 0; margin: 0;
	}
.post-pagination li {
	display: inline-block; margin: .3em .1em;
	}
	.post-pagination li a {
		display: inline-block; padding: 4px 10px; margin: 0; font-size: 11px; letter-spacing: 1px; color: #333; border-radius: 3px;
		}
	.post-pagination li a:hover {
		opacity: .7;
		}
	.post-pagination li.current a,
	.post-pagination li.current a:hover {
 		color: #222; cursor: default; opacity: .25;
		}
	.pagination-prev a:before,
	.pagination-next a:before { 
		font-size: 11px; 
		}
	.pagination-prev a:before {
		content: '\e8b9';
		}
	.pagination-next a:before {
		content: '\e8ba';
		}
		
/* MEDIA ELEMENT PLAYER STYLES */
.mejs-container {
 	background: none
	}
	.mejs-container .mejs-controls,
	.mejs-controls .mejs-volume-button .mejs-volume-slider {
        background: #333;
		}
.mejs-controls .mejs-button button:focus {
 	outline: none
	}
.mejs-container .mejs-controls {
 	height: 50px
	}
	.mejs-container .mejs-controls div {
        width: 50px; height: 50px;
		}
.mejs-controls .mejs-button button {
 	margin: 17px 17px
	}
.mejs-controls .mejs-time-rail .mejs-time-total {
 	margin: 18px 5px
	}
.mejs-controls .mejs-time-rail span {
    height: 4px; 
    }
.mejs-container .mejs-controls .mejs-time {
 	height: 41px
	}
	.mejs-container .mejs-controls .mejs-time span {
 	margin-top: 11px
		}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
 	top: 21px
	}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
 	width: 62px
	}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.mejs-controls .mejs-time-rail .mejs-time-total,
.mejs-controls .mejs-time-rail .mejs-time-loaded {
 	background: #565C61;
	}
.mejs-controls div.mejs-horizontal-volume-slider {
 	height: 50px; width: 80px;
	}
.mejs-controls .mejs-volume-button .mejs-volume-slider {
 	left: 10px; border-radius: 4px 4px 0 0;
	}
.mejs-controls .mejs-time-rail .mejs-time-current,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
 	background: #096;
	}
.mejs-overlay-loading {
	background: rgba(0, 0, 0, 0.6); border-radius: 8px; background: #fff;
	}
.mejs-container .mejs-controls .mejs-time {
    padding: 8px 10px 4px 8px; 
    }
.mejs-container .mejs-controls div.mejs-volume-button,
.mejs-container .mejs-controls div.mejs-horizontal-volume-slider {
    display: none; 
    }
.mejs-overlay-button {
    background-position: 0 0px; 
    }
.mejs-overlay:hover .mejs-overlay-button {
    background-position: 0 -100px;
    }

/* BLOG SINGLE */
.single .hentry .entry-header {
	text-align: center;
	}
.blog-single .entry-content p {
	font-size: 18px; line-height: 31px;
	}
.blog-single .entry-meta {
 	line-height: 1.9; text-align: center; padding-bottom: 20px;
	}
.nav-single,
.navigation {
 	font-size: 1em; overflow: auto;
	}
.nav-single {
	padding: 2em 0 1em 0;
	}
.nav-single > div {
	overflow: hidden;
	}
	.nav-single h4 {
		float: left; letter-spacing: 2px; color: #ddd; display:inline-block; font-size: 10px; padding-bottom: .4em; text-transform: uppercase;
		}
	.nav-single a {
        display: block; clear: both; float: left; max-width: 220px; width: 100%; margin-bottom: 1em; line-height: 1.2; font-weight: 600; text-transform: uppercase; color: #333;
		}
	.nav-single .meta-nav {
 		margin-right: .6em
		}
	.nav-single .nav-next .meta-nav {
 		margin-left: .6em; margin-right: 0;
		}
	.nav-single .nav-next {
 		text-align: right
		}
	.nav-single .nav-next h4,
	.nav-single .nav-next a {
 		float: right
		}
		
/* BOLG SINGLE FEATURED IMAGE */
.featured-top {
	width: 86%; max-width: 1440px; margin-left: auto; margin-right: auto;
	}
.featured-top > img {
	display: none; 
	}

/* PAGE WITH FEATURED IMAGE */
.page .featured-top .post-thumbnail {
	padding-top: 48%;
	}
		
/* SHARE LINKS */
.share-links { 
	padding: 1em 0; margin: 2em 0; text-transform: uppercase; border-bottom: 1px solid #eee;
	}
.share-links h3 { 
	font-size: 10px; display: inline-block; letter-spacing: 3px;
	}
.share-links a { 
	float: right; display: inline-block; padding: 0.2em; margin-left: .2em; font-size: 14px; color: #555;
	}

/* SELECTION SHARE */
div#selectionSharerPopover-inner,
div#selectionSharerPopover:after,
#selectionSharerPopover .selectionSharerPopover-arrow {
    background: #212933; border-color: #212933; border-radius: 3px; box-shadow: none;
    }
.selectionSharer ul li a.action {
	background-size: 15px;
	}
	
/* ABOUT THE AUTHOR */
.about-author {
 	margin: 2em 0;
	}
.about-author h3 {
	font-size: 10px; color: #ddd; letter-spacing: 2px; text-transform: uppercase;
	}
.author-bio {
 	padding: 1.4em 0;
	}
.author-bio h4 {
	font-size: 13px;
    margin-bottom: .6em;
	}
.author-img {
 	width: 54px; float: left;
	}
	.author-img img {
		display: block; border-radius: 50%;
		}
.author-info {
	margin-left: 72px;
	}
.author-info p {
 	font-size: .875em; line-height: 1.7; margin: .4em 0;
	}
.author-info *:first-child {
 	margin-top: 0
	}
	.about-author a.social-link {
		font-size: 13px; width: 21px; background: none;
		}
	.about-author a.social-link:hover {
		color: #000; background: none;
		}

/* POST TAGS */
.post-tags { 
	margin: 2em 0; 
	}
.post-tags a:before {
    content: "#";
	}

/* RELATED POSTS */
.related-posts {
	margin: 2em 0 2em;
	}
.related-posts .post-thumbnail {
    margin-bottom: 20px;
	}
.related-posts h3 {
    text-transform: uppercase; font-size: 12px; letter-spacing: 3px; text-align: center; margin-bottom: 1.4em;
    }
    
/* YARP RELATED POSTS */
.yarpp-related {
    padding: 1em 0;
    }
.yarpp-related h3 {
    text-transform: uppercase; letter-spacing: 3px; text-align: center;
    }
.yarpp-thumbnails-horizontal .yarpp-thumbnail {
    display: block; margin-bottom: 1em;
    }
.yarpp-thumbnails-horizontal .yarpp-thumbnail:hover img {
    opacity: .9;
    }
.yarpp-thumbnail-title {
    display: block; font-size: 12px; font-weight: 600; text-transform: uppercase;  margin-bottom: 1em; margin-top: .6em; padding-bottom: .2em; text-align: center; color: #333;
    }

/* COMMENTS */
.comments-area {
 	padding: 0; margin: 2em 0;
	}
.comments-area h3 {
	text-transform: uppercase; font-size: 12px; letter-spacing: 3px; text-align: center;
	}
.comments-area ol {
 	list-style: none; margin: 0; padding: 0;
	}
	.comments-area ol ol ol {
    	margin-left: 2%;
		}
    .commentlist {
 		padding: 0; line-height: 1.6;
		}
	.comments-area ol ol {
 		margin-left: 6%
		}
.comments-area article {
    position: relative; padding: .6em 0; margin-bottom: .8em; border-bottom: 1px solid #F4F3EF;
    }   
.commentlist > li:last-child > article {
    border-bottom: 0;
    }
.comment-meta a,
.comment-reply-link {
	color: #333;
	}
.comment-meta img {
    display: block; float: left; margin: 0 1.0em 0 0; border-radius: 50%; max-width: 52px; 
	}
.comment-meta .fn {
    display: block; font-size: 13px; font-weight: 600; font-style: normal; padding-top: 0.2em;
    }
.comment-meta .fn i {
	font-style: normal; font-weight: normal; font-size: 10px; text-transform: uppercase; letter-spacing: 1px;
    }
.comment-meta .comment-date {
    display: block; font-size: 10px; color: #ccc; text-transform: uppercase;
    }
.comment-content {
    padding-top: .1em; clear: left;
	}
	.comment-content p {
 		margin: .8em 0 .2em 0;
		}
.comment .reply {
    text-align: right; font-weight: 700; font-size: 12px; letter-spacing: 1px; text-transform: uppercase;
	}
.comment-reply-link {
	font-size: 10px; font-weight: 400;
	}
.comment-awaiting-moderation,
.logged-in-as {
	display: inline-block; padding: .6em 1.2em; font-size: 12px; background: #F6F7EA;
	}

.logged-in-as a {
    color: #333; border-bottom: 1px solid rgb(228, 228, 228); text-transform: uppercase; font-size: 10px; letter-spacing: .04em;
	}
p.logged-in-as a:hover {
    border-color: #333;
	}
.comment-edit-link {
	display: inline-block; margin-left: 1em;
	}
/* comment by post author  */
.bypostauthor > article:before {
    font-family: "fontello"; content: '\e862'; font-size: 46px; margin-right: 10px; position:  absolute; top: 0; right: 0; color: #eee;
    }
	
/* COMMENT FORM */
#respond {
 	padding: 2em 0;
    }
#respond textarea,
#respond input {
	max-width: 100%;
	}
.form-allowed-tags,
.comment-notes {
 	display: none; font-size: .8em;
	}
	.form-allowed-tags code {
 		margin-top: 1em
		}
.form-submit {
 	padding-top: .5em;
	}
.commentlist .form-submit {
    padding-top: 0;
	}

/* WIDGET AREA */
.widget-area { 
    padding: 2em 0;
    }
.widget-area .widget { 
    margin: 0 0 2em 0; font-size: 12px; line-height: 1.5;
    }
.widget-area a { 
    color:#333; 
    }
.widget-title { 
    margin-bottom: 1.4em; padding-bottom: 0.3em; font-size: 10px; letter-spacing: 2px; text-transform: uppercase; color: #ccc;
    }
.widget-area a:active { 
    color: #aaa;
    }
.widget form p {
	margin: 1.4em 0;
	}
.widget label input {
	font-size: 13px !important;
	}
.widget-area iframe {
 	width: 100% !important; max-height: 270px;
	}
.sidebar .widget-title {
	padding: 3px 0 0 0; margin-bottom: 2.2em; line-height: 1;
	}

/* DEFAULT WIDGETS */
.widget-area ul { 
    margin-left: 1.2em; padding-left: 0; 
    }
.widget-area ul li { 
    position:relative; margin-bottom:.4em; line-height:1.5; 
    }

/* recent entries widget */
.widget_recent_entries ul { 
    margin-left: 0; list-style: none;
    }
.widget_recent_entries ul li { 
    margin: 1em 0; padding: 0; font-size: 14px;
    }

/* recent comments widget */
.widget_recent_comments ul li { 
    font-style: italic; 
    }
.widget_recent_comments ul li a { 
    font-style: normal; 
    }
.widget_recent_comments ul li a:nth-of-type(2) { 
    font-weight: bold; 
    }

/* text widget */
.textwidget img { 
	margin-bottom: 1.4em;
    }
.textwidget p img {
	margin-bottom: 0;
	}
.textwidget .social { 
	margin: 0;
    }

/* rss widget */
.widget_rss .rss-date, 
.widget_rss cite:before { 
    text-align:left; font-style:italic; color:#bbb; 
    }
.widget_rss .rss-date { 
	display: block; margin-bottom: .8em; font-size:.875em; 
    }
.widget_rss ul { 
	list-style: none; margin: 0;
    }
.widget_rss ul li { 
    padding-bottom: 2.2em;
    }
.widget_rss ul li a.rsswidget { 
    font-weight:bold; 
    }
.widget_rss .widget-title img { 
    margin-right:.1em; 
    }
.widget_rss cite { 
    display:block; margin-top: 1em;
    }
.widget_rss cite:before { 
    content:"by "; 
    }
.widget_rss .rssSummary { 
    padding-top:.2em; 
    }

/* tag cloud widget */
.tagcloud a { 
    color: #aaa; font-size: 12px !important; margin: 0 5px 6px 0; display: inline-block; line-height: 1;
    }
.tagcloud a:hover { 
    color: #333;
    }

/* categories widget */
.widget_categories ul { 
    list-style: none; margin-left: 0; 
    }
.widget_categories ul ul {
    margin-left: 1em;
	}
.widget_categories ul li.cat-item a {
    margin: 0px; font-size: 14px; font-weight: 600; text-transform: uppercase;
    }

/* search widget */
.widget_search .search-submit { 
    margin-top: 12px; 
    }

/* calendar widget */
.widget_calendar table { 
    width: 100%; max-width: 280px; margin-bottom: 0; font-size: 12px;
    }
.widget_calendar thead { 
    display: none;
    }
.widget_calendar table caption { 
    tpadding-bottom: 8px; font-size: 11px;
    }
.widget_calendar table tr td, 
.widget_calendar table tr th { 
    padding: .7em 0;
    }
.widget_calendar tr td { 
    color:#ccc; text-align: center;
    }
.widget_calendar tbody a { 
    font-weight: bold; 
    }

/* CUSTOM WIDGETS */

/* EMAIL NEWSLETTER WIDGET by MailChimp for WordPress Plugin */
.widget_mc4wp_widget label {
	display: none;
	}

/* SOCIAL FEED */
.social-feed ul,
.null-instagram-feed ul {
    margin: 0; padding: 0; list-style: none; 
    }
.social-feed ul li,
.null-instagram-feed ul li,
.flickr_badge_image { 
    display:inline-block; padding: 0 4px 4px 0; font-size: 0;
    }
.social-feed ul li:last-child,
.null-instagram-feed ul li:last-child {
	padding-right: 0;
    }
.social-feed ul li:nth-child(n+5),
.null-instagram-feed ul li:nth-child(n+5) {
	display: none;
    }
.social-feed ul li img,
.null-instagram-feed ul li img { 
    max-width: 72px; max-height: 100%;
    }
.social-feed ul li a:hover img,
.null-instagram-feed ul li a:hover img { 
    opacity: .94; 
    }

/* TOP10 Popular Posts Widget */
.tptn_posts ul {
	list-style: none; margin: 0; padding: 0;
	}
.tptn_posts ul li {
	display: block; clear: left; overflow: hidden; margin-bottom: 1.2em;
	}
.tptn_posts img {
	float: left; margin-right: 16px; max-height: 80px; width: auto;
	}
.tptn_posts .tptn_title {
	display: block; margin-top: 1em; font-size: 12px; font-weight: 600; line-height: 1.2; text-transform: uppercase; letter-spacing: .02em;
	}
.tptn_posts .tptn_after_thumb > span {
	font-size: 11px; color: #ccc; margin-right: 6px;
	}
	

/* OWL CAROUSEL */
.owl-theme * { 
	-webkit-backface-visibility: hidden;
	}
.owl-stage { 
	cursor: pointer; cursor: -webkit-grab; cursor: -moz-grab;
	}
.owl-stage.owl-grab { 
	cursor: pointer; cursor: -webkit-grabbing; cursor: -moz-grabbing;
	}
.owl-theme .owl-nav {
	text-align: center; -webkit-tap-highlight-color: transparent;
	}
.owl-theme .owl-nav div {
	position: absolute; top: 50%; margin-top: -16px; left: 0px; color: #fff; font-size: 12px; padding: 8px 10px; display: inline-block; line-height: 1; cursor: pointer;
	}
.owl-theme .owl-nav div.owl-next {
	right: 0px; left: auto; 
	}
.owl-theme .owl-nav div:hover {
	background: #212933;
	}
.owl-nav div:before {
	font-family: fontello; font-style: normal; font-weight: 400; font-size: 14px; line-height: 1;
	}
.owl-next:before {
	content: '\e8ba';
	}
.owl-prev:before {
	content: '\e8b9';
	}
.owl-theme .owl-nav div:hover {
	opacity: 1;
	}
.owl-theme .owl-nav .disabled {
	opacity: 0.5; cursor: default;
	}
.owl-theme .owl-nav.disabled + .owl-dots {
	margin-top: 12px;
	}
.owl-theme .owl-dots {
	margin-top: 10px; text-align: center; -webkit-tap-highlight-color: transparent;
	}
.owl-theme .owl-dots .owl-dot {
	display: inline-block; 
	}
.owl-theme .owl-dots .owl-dot span {
	width: 7px; height: 7px; margin: 0 2px; display: block; border-radius: 50%; background: #eee; -webkit-backface-visibility: visible;
	}
.owl-theme .owl-dots .owl-dot:hover span {
	background: #ccc;
	}
.owl-theme .owl-dots .owl-dot.active span {
	background: #222;
	}
.owl-title {
 	position: absolute; bottom: 26px; right: 20px; margin: 0; padding: .4em 1.2em; font-size: 12px; color: #fff; background: rgba(33, 41, 51, 0.5);
	}


/* HOME ALT */
.home-title {
	text-align: center; margin-top: 3em;
	}
	
/* LINK BOXES */
.intro > figure {
	display: none;
	}
.figure-boxes {
	margin-left: -10px; margin-right: -10px; overflow: auto;
	}
.figure-box {
	padding: 10px; width: 50%; float: left;
	}
.figure-box figure {
	position: relative; padding: 0px; margin: 0; background: #222; overflow: hidden; -webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d; transform-style: preserve-3d;
	}
.figure-box figure a:not(.figure-link) {
	display: block; padding-top: 86%; opacity: .8; overflow: hidden; background-size: cover; -webkit-transition: all 0.4s ease 0s; transition: all 0.4s ease 0s;
	}
.intro figure a img {
	display: none;
	}
.intro figure:hover a:not(.figure-link) {
	-webkit-transform: scale(1.5); -ms-transform: scale(1.5); transform: scale(1.5); opacity: .3;
	}
.figure-box .wp-caption-text {
	position: absolute; font-size: 11px; font-weight: 600; letter-spacing: 1px; width: 100%; padding: 0 10%; color: #fff; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);
  	}
.figure-link {
	position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1000; text-indent: 200%; white-space: nowrap; font-size: 0; opacity: 0;
	}

/* INTRO */
.intro { 
	text-align: center; 
	}
.intro .profile-image img { 
	width: auto; max-width: 50%; max-height: 280px; border-radius: 50%; margin-bottom: 2.4em;
	}
.intro h2 {
	margin-bottom: 0;
	}
.intro h2,
.intro h3 { 
	font-size: 22px; line-height: 1.2; font-weight: 300; text-transform: none; margin-top: 0; 
	}
.intro h2 em { 
	display: block; margin-top: -52px; font-weight: 700; font-style: normal; text-decoration: none; font-size: 52px; letter-spacing: -4px; line-height: 1; text-shadow: 2px -2px 0 #fff; 
	}
.intro h3 i, 
.intro h3 em { 
	font-style: normal; 
	}
.intro h3 > strong:nth-child(n+2) {
	display: none;
	}

/* BLOG SIMPLE */
.blog-simple {
	margin: 1em auto; max-width: 690px;
	}
.blog-simple .hentry {
	position: relative; min-height: 60px; border-bottom: 1px solid #f3f3f3;
	}
.blog-simple .hentry:last-child {
	border-bottom: 0;
	}
.blog-simple .hentry-left {
	position: absolute; top: 0; left: 0; width: 60px; height: 60px; 
	}
.blog-simple .hentry-middle {
	float: left; margin-left: 80px;
	}
.blog-simple .post-link {
	position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 3; text-indent: -200%; overflow: hidden;
	}
.blog-simple .featured-image {
	position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: 0; opacity: 0; background-size: cover;
	}
.blog-simple .hentry:hover .featured-image {
	opacity: 1;
	}
.blog-simple .entry-title {
	padding-top: 23px; text-transform: none; 
	}
.blog-simple .entry-title a:hover {
	color: #222;
	}
.blog-simple .entry-date {
	padding: 13px 10px; font-size: 10px; letter-spacing: 2px;
	}
.blog-simple .entry-date span {
	display: block; text-align: center; line-height: 1; text-transform: uppercase;
	}
.blog-simple .day {
	font-weight: bold; font-size: 23px; letter-spacing: -1px;
	}
.blog-simple .month {
	color: #ddd;
	}
.blog-simple .entry-date .year {
	color: #ddd; display: none;
	}
.home-launch {
	margin-bottom: 2em; text-align: center;
	}


/*  --------------------------------------------

	6. THEME @theme - customize colors etc...
	
    -------------------------------------------- */
body {
 	color: #393131;
	}
/* Links */
a {
 	color: #8f1d1d;
	}
a:hover { /* #096 */
 	color: #c41616;
	}

/* Text Selection */
::selection {
 	text-shadow: none; color: #c41616; background: #FFF9CD;
	}
::-moz-selection {
 	text-shadow: none; color: #c41616; background: #FFF9CD;
	}

/* STYLE : FLAT */
.flat-style .navigation a {
	padding: 1.3em 1.6em; background: #fafafa; border-radius: 4px;
	}
.flat-style .navigation a:hover {
	background: #eee; color: #333; opacity: 1;
	}
.flat-style .site-footer {
	background: #fafafa; border: 0;
	}
.flat-style .cat-links a {
	color: #fff; padding: 2px 5px; border-radius: 2px;
	}
.flat-style .owl-theme .owl-nav div {
	background: rgba(33, 41, 51, 0.5);
	}
.flat-style .owl-theme .owl-nav div:hover {
	background: rgba(33, 41, 51, 1);
	}
.flat-style .owl-theme .owl-dots .owl-dot.active span {
	width: 13px; height: 13px; transform: translateY(.2em);
	}
.flat-style .social-link {
	background: #f5f5f5;
	}
.flat-style input[type=submit], 
.flat-style input[type=button], 
.flat-style button, 
.flat-style a.button, 
.flat-style .button {
	border-color: transparent; color: #fff; border-radius: 4px;
	}
.flat-style input[type=submit]:hover, 
.flat-style input[type=button]:hover, 
.flat-style button:hover, 
.flat-style a.button:hover, 
.flat-style .button:hover {
	background: #212933;
	}
.flat-style .post-pagination li.current a, 
.flat-style .post-pagination li.current a:hover {
	opacity: 1; color: #fff; background: #212933;
	}
.flat-style .post-pagination li a:hover {
	background: #f7f7f7;
	}
.flat-style .tagcloud a { 
    color: #333; margin: 0 1px 6px 0; padding: .6em .9em; background: #f6f6f6;
    }
.flat-style .tagcloud a:hover { 
    color: #333; background: #eee;
    }
.flat-style .share-links { 
	padding: 1em 2em; background: #fafafa; border: 0;
	}
.flat-style .author-bio {
 	padding: 1.4em; background: #fafafa;
	}
.flat-style .about-author h3 {
	text-align: center;
	}
.flat-style input:not([type=submit]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]), 
.flat-style textarea, 
.flat-style select {
	border-width: 2px; border-radius: 4px;
	}
.flat-style input[type=file]::-webkit-file-upload-button {
	border: 2px solid #eee; border-radius: 3px;
	}

/* STYLE : MINIMAL */
.minimal-style .navigation a {
	padding: 1.3em 1.6em; border: 1px solid #222;
	}
.minimal-style .navigation a:hover {
	background: #222; color: #fff; opacity: 1;
	}
.minimal-style .entry-meta:before {
	color: #222;
	}
.minimal-style .cat-links a {
	padding: 1px 6px; border: 2px solid #222;
	}
.minimal-style .cat-links a:hover {
	background: #111; color: #fff; opacity: 1;
	}
.minimal-style .post-thumbnail:not(.post-desc) .cat-links a {
	border-color: #fff; margin-bottom: 12px;
	}
.minimal-style .blog-stream .entry-title a:hover {
	color: #000;
	}
.minimal-style .post-thumbnail .entry-title a:hover {
	color: #fff; opacity: .8;
	}
.minimal-style .owl-theme .owl-nav div {
	color: #111; background: #fff; border: 2px solid #111;
	}
.minimal-style .owl-theme .owl-nav div:hover {
	outline: 1px solid #111;
	}
.minimal-style .owl-theme .owl-nav div {
	left: -12px;
	}
.minimal-style .owl-theme .owl-nav div.owl-next {
	right: -12px; left: auto;
	}
.minimal-style .owl-title {
	background: #222;
	}
.minimal-style input:not([type=submit]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]):focus, 
.minimal-style textarea:focus,
.minimal-style select:focus {
	border-color: #eee;	box-shadow: 2px 2px 0 #222;
	}
.minimal-style #search-field:focus {
	box-shadow: none;
	}
.minimal-style .social-link {
	border: 1px solid #eee; line-height: 31px;
	}
.minimal-style .about-author .social-link {
	border: 0;
	}
.minimal-style .social-link:hover {
	border-color: transparent;
	}
.minimal-style .footer-social .social-link {
	border: 0; line-height: 33px;
	}
.minimal-style .bypostauthor > article:before {
	color: #333;
	}
.minimal-style .share-links { 
	padding: 1em 2em; border: 2px solid #333;
	}
.minimal-style .share-links a:hover {
	color: #000;
	}
.minimal-style .author-bio {
 	padding: 1.4em; border: 1px solid #eee;
	}

/* MENU BACKGROUND */
.site-navigation { 
    background: #212933;
    }

/* PRIMARY COLOR : #2BBE8D */
.flat-style .entry-meta .cat-links a,
.flay-style .owl-theme .owl-dots .owl-dot.active span,
.flat-style input[type=submit], 
.flat-style input[type=button], 
.flat-style button, 
.flat-style a.button, 
.flat-style .button,
.flat-style .skill-unit .bar .progress span,
.flat-style .event [class*="pw-icon-"],
.flat-style .owl-theme .owl-dots .owl-dot.active span {
	background: #2BBE8D;
	}
.flat-style .format-link .entry-content > p:first-child a:first-child,
.flat-style .event.current:after,
.flat-style input:not([type=submit]):not([type=button]):not([type=file]):not([type=radio]):not([type=checkbox]):focus,
.flat-style textarea:focus,
.flat-style select:focus {
	border-color: #2BBE8D;
	}